/* src/index.css (Tailwind v4) */
@import "tailwindcss";

html { scroll-behavior: smooth; }
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #0a1f36;
}

#root {
  min-height: 100vh;
}